*.pyc
models/GAP22/GAP_Si_H_PRM.xml
*.GAP_2017_6_17_60_4_3_56_1651
models/GAP22/GAP_Si_H_PRM.xml.sparseX.GAP_2021_5_28_-420_7_13_1_5844
models/GAP22/GAP_Si_H_PRM.xml.sparseX.GAP_2021_5_28_-420_7_13_1_5841
/models/GAP18
/models/GAP22
data/paper/c-surfaces/H2/.DS_Store
data/paper/c-surfaces/SiH/.DS_Store
data/paper/crystalline/.DS_Store
data/paper/crystalline/ace_relaxation.xyz
data/paper/crystalline/DFT/.DS_Store
data/paper/crystalline/DFT/dia/.DS_Store
data/paper/crystalline/DFT/dia/H_interstitial/.DS_Store
data/paper/crystalline/DFT/dia/H_interstitial/relaxed/.DS_Store
data/paper/crystalline/DFT/dia/job_array-taskfarm.slurm
data/paper/crystalline/DFT/dia/job_array.slurm
data/paper/crystalline/DFT/dia/prep_jobs.sh
data/paper/crystalline/DFT/H2/.DS_Store
data/paper/crystalline/relax.log
data/paper/crystalline/relax.traj
data/paper/c-surfaces/SiH/.DS_Store
*.sh
